@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url(./assets/css/reset-css.css);
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10rem;
  background: hsl(0, 0%, 90%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 87%);
}
#app {
  width: 100%;
  height: 100vh;
  background: url(./assets/Background/green-bk.png) no-repeat center;
  background-size: cover;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 80%;
  height: 650px;
  background: hsl(0, 0%, 100%);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  grid-template-columns: minmax(300px,2fr) 4fr;
}
::selection {
  background-color: hsl(217, 76%, 85%);
}
.d-grid {
  display: grid;
}
.d-flex {
  display: flex;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hidden {
  overflow: hidden;
}
.transition {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* aside styles */
.aside {
  height: 100%;
  padding: 2rem 2rem 0 2rem;
  background-color: hsl(240, 78%, 98%);
  position: relative;
  overflow-y: scroll;
  /* -ms-overflow-style: none;
  scrollbar-width: none; */
}
/* .aside::-webkit-scrollbar {
  display: none;
} */
.aside__tools {
  width: 100%;
}
.aside__top {
  width: 100%;
  height: 50%;
  margin-bottom: 1rem;
}
.aside__circles {
  flex: 1;
  align-self: flex-start;
}
.aside__circles > div {
  width: 60px;
  justify-content: space-between;
}
.aside__circle-red {
  width: 15px;
  height: 15px;
  background: #ef6159;
  border-radius: 50%;
}
.aside__circle-yellow {
  width: 15px;
  height: 15px;
  background: #f4bd2e;
  border-radius: 50%;
}
.aside__circle-green {
  width: 15px;
  height: 15px;
  background: #49c940;
  border-radius: 50%;
}
.aside__icons {
  width: 90px;
  margin: 0 2rem;
  color: hsl(0, 0%, 50%);
}
.aside__icons > i {
  font-size: 2.1rem;
  cursor: pointer;
}
.profile-block > div {
  width: 50px;
  height: 50px;
  background: rgb(255, 129, 249);
  border-radius: 50%;
}
.aside__search {
  position: relative;
  margin-bottom: 1rem;
}
.aside__search-input {
  width: 100%;
  outline: none;
  border: none;
  background: hsl(0, 0%, 100%);
  padding: 1.2rem;
  padding-left: 5rem;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  font-size: 1.5rem;
}
.aside__search .material-symbols-rounded {
  font-size: 2rem;
  position: absolute;
  top: 11px;
  left: 15px;
  opacity: 0.5;
}
.aside__message-box {
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  border-radius: 1rem;
  margin-bottom: 0.8rem;
}
.aside__message-box:hover {
  background-color: hsl(240, 78%, 95%);
}
.aside__message-box.active{
  background-color: hsl(240, 78%, 95%);
}
.aside__details {
  width: 50px;
  flex-grow: 1;
  margin-left: 1rem;
}
.aside__details-name {
  font-weight: 600;
  margin-bottom: 0.7rem;
}
.aside__details-msg {
  white-space: nowrap;
  text-overflow: ellipsis;
  color: hsl(0, 0%, 50%);
}
.aside__details-msg.notif {
  color: initial;
  font-weight: 600;
}
.aside__details-msg .material-icons {
  vertical-align: -3.2px;
  font-size: 1.6rem;
  color: hsl(0, 0%, 70%);
}
.aside__details-msg--time {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}
.aside__condition {
  font-size: 1.2rem;
}
.aside_condition-time {
  color: hsl(0, 0%, 70%);
  margin-bottom: 0.7rem;
}
.aside__condition-seen i.seen {
  float: right;
  color: #388bfc;
  font-size: 1.6rem;
}
.aside__condition-seen i {
  float: right;
  color: hsl(0, 0%, 70%);
  font-size: 1.6rem;
}
.aside__condition-seen .aside__quantity-msg {
  width: 25px;
  padding: 0.3rem 0;
  text-align: center;
  background-color: #2cd479;
  color: #fff;
  float: right;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}
.message {
  height: 100%;
  background-color: rgb(255, 255, 255);
}
