@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url(./assets/css/reset-css.css);
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10rem;
  background: hsl(0, 0%, 90%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 87%);
}
#app {
  width: 100%;
  height: 100vh;
  background: url(./assets/Background/gradienta-7brhZmwXn08-unsplash.jpg) no-repeat center;
  background-size: cover;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 80%;
  height: 650px;
  background: hsl(0, 0%, 100%);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  grid-template-columns: minmax(300px, 2fr) minmax(350px, 4fr);
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.1);
}
::selection {
  background-color: hsl(217, 76%, 90%);
}
.d-grid {
  display: grid;
}
.d-flex {
  display: flex;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hidden {
  overflow: hidden;
}
.text-aline {
  text-align: center;
}
.transition {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
/* aside styles */
.aside {
  height: 100%;
  padding: 2rem 2rem 0 2rem;
  background-color: hsl(240, 78%, 98%);
  position: relative;
  overflow-y: scroll;
  /* -ms-overflow-style: none;
  scrollbar-width: none; */
}
/* .aside::-webkit-scrollbar {
  display: none;
} */
.aside__tools {
  width: 100%;
}
.aside__top {
  width: 100%;
  height: 50%;
  margin-bottom: 1rem;
}
.aside__circles {
  flex: 1;
  align-self: flex-start;
}
.aside__circles > div {
  width: 60px;
  justify-content: space-between;
}
.aside__circle-red {
  width: 15px;
  height: 15px;
  background: #ef6159;
  border-radius: 50%;
}
.aside__circle-yellow {
  width: 15px;
  height: 15px;
  background: #f4bd2e;
  border-radius: 50%;
}
.aside__circle-green {
  width: 15px;
  height: 15px;
  background: #49c940;
  border-radius: 50%;
}
.aside__icons {
  width: 90px;
  margin: 0 2rem;
  color: hsl(0, 0%, 50%);
}
.aside__icons > i {
  font-size: 2.1rem;
  cursor: pointer;
}
.profile-block > div {
  width: 50px;
  height: 50px;
  background: rgb(255, 129, 249);
  border-radius: 50%;
}
.aside__search {
  position: relative;
  margin-bottom: 1rem;
}
.aside__search-input {
  width: 100%;
  outline: none;
  border: none;
  background: hsl(0, 0%, 100%);
  padding: 1.2rem;
  padding-left: 5rem;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  font-size: 1.5rem;
}
.aside__search .material-symbols-rounded {
  font-size: 2rem;
  position: absolute;
  top: 11px;
  left: 15px;
  opacity: 0.5;
}
.aside__message-box {
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  border-radius: 1rem;
  margin-bottom: 0.8rem;
}
.aside__message-box:hover {
  background-color: hsl(240, 78%, 95%);
}
.aside__message-box.active {
  background-color: hsl(240, 78%, 95%);
}
.aside__details {
  width: 50px;
  flex-grow: 1;
  margin-left: 1rem;
}
.aside__details-name {
  font-weight: 600;
  margin-bottom: 0.7rem;
}
.aside__details-msg {
  white-space: nowrap;
  text-overflow: ellipsis;
  color: hsl(0, 0%, 50%);
}
.aside__details-msg.notif {
  color: initial;
  font-weight: 600;
}
.aside__details-msg .material-icons {
  vertical-align: -3.2px;
  font-size: 1.6rem;
  color: hsl(0, 0%, 70%);
}
.aside__details-msg--time {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}
.aside__condition {
  font-size: 1.2rem;
}
.aside_condition-time {
  color: hsl(0, 0%, 70%);
  margin-bottom: 0.7rem;
}
.aside__condition-seen i.seen {
  float: right;
  color: #388bfc;
  font-size: 1.6rem;
}
.aside__condition-seen i {
  float: right;
  color: hsl(0, 0%, 70%);
  font-size: 1.6rem;
}
.aside__condition-seen .aside__quantity-msg {
  width: 25px;
  padding: 0.3rem 0;
  text-align: center;
  background-color: #2cd479;
  color: #fff;
  float: right;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}

/* start message section */
.message {
  height: 100%;
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  flex-direction: column;
}
.message .title-bar {
  width: 100%;
  height: 10%;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.title-bar__user-info {
  margin-left: 1rem;
}
.title-bar__name {
  font-weight: 600;
  margin-bottom: 0.7rem;
}
.title-bar__last-seen {
  color: hsl(0, 0%, 70%);
  font-size: 1.2rem;
}
.title-bar__actions {
  width: 55px;
}
.title-bar__actions > .material-icons {
  font-size: 2.1rem;
  cursor: pointer;
}
.message .message-list {
  width: 100%;
  max-height: 470px;
  overflow-y: scroll;
  padding: 1rem;
  margin: 0 auto;
  background-color: #f0ebe3;
  margin-bottom: 2rem;
  border-radius: 1rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.message-list::-webkit-scrollbar {
  display: none;
}
.message-list__declaration {
  width: 70%;
  color: hsl(0, 0%, 40%);
  font-size: 1.3rem;
  margin: 1rem auto;
}
.message-list__declaration--date {
  margin: 0 auto 1rem auto;
  width: 100px;
  padding: 1rem 1.5rem;
  background-color: hsl(0, 0%, 98%);
  border-radius: 0.5rem;
  text-transform: uppercase;
}
.message-list__declaration--lock {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  background-color: #ffeecd;
  cursor: pointer;
  line-height: 1.5;
}
.message-list__declaration--lock > .material-icons {
  font-size: 1.3rem;
}

.chat-box {
  width: 100%;
  /* background-color: #f4bd2e; */
  position: relative;
  text-align: left;
  margin-bottom: 1rem;
  display: flex;
}
.chat-box__container {
  padding: 1rem;
  max-width: 50%;
}
.chat-box__container.voice {
  padding: 1rem;
  width: 40%;
}
.chat-box__container.voice > .play-container {
  width: 100%;
}
.chat-box__play {
  cursor: pointer;
}
.chat-box__line-voice {
  width: 100%;
  margin-right: 1rem;
  margin-left: 1rem;
}
.chat-box__container.voice .chat-box__text,
.chat-box__line-voice {
  opacity: 0.7;
}
.line-voice {
  width: 100%;
  height: 2px;
  background-color: hsl(0, 0%, 20%);
  margin-right: 1rem;
  position: relative;
}
.line-voice::before {
  content: "";
  top: -4px;
  left: 0;
  position: absolute;
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.chat-box.right .chat-box__container {
  background-color: #d9fdd3;
  margin-left: auto;
  border-radius: 0.5rem 0 0.5rem 0.5rem;
}
.chat-box.left .chat-box__container {
  margin-right: auto;
  background-color: #ffffff;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  -webkit-border-radius: 0 0.5rem 0.5rem 0.5rem;
  -moz-border-radius: 0 0.5rem 0.5rem 0.5rem;
  -ms-border-radius: 0 0.5rem 0.5rem 0.5rem;
  -o-border-radius: 0 0.5rem 0.5rem 0.5rem;
}
.chat-box__text {
  color: hsl(0, 0%, 20%);
  line-height: 1.4;
  margin-bottom: 1rem;
}
.chat-box__date {
  opacity: 0.5;
  font-size: 1.2rem;
}
.message .message-content {
  width: 100%;
}
.message-content__actions {
  width: 60px;
  color: hsl(0, 0%, 50%);
}
.message-content__actions .material-icons {
  cursor: pointer;
}

.message-content__input-container {
  flex-grow: 1;
  margin-left: 1rem;
}
.message-content__input {
  width: 100%;
  outline: none;
  border: none;
  background: hsl(0, 0%, 90%);
  padding: 1.2rem 2rem;
  border-radius: 100px;
  font-size: 1.5rem;
}
.message-content__voice-icon {
  cursor: pointer;
  color: hsl(0, 0%, 50%);
  margin-left: 1rem;
}
